# Rust
FlashBangStudio/target/

# PlatformIO
FlashBangFirmware/.pio/
FlashBangFirmware/.pioenvs/
FlashBangFirmware/.piolibdeps/

# Editors/OS
.vscode/
.idea/
.DS_Store
*.swp
*.tmp
*.bak

# Logs
*.log

# Firmware artifacts
FlashBangFirmware/.pio/build/
FlashBangFirmware/*.bin
FlashBangFirmware/*.elf
FlashBangFirmware/include/generated_build_info.h

# Host generated reports
FlashBangStudio/flashbang-verify-report.txt
FlashBangStudio/flashbang-verify-report.json

# ROM image artifacts
*.bin
*.bin.gz
*.hex
*.hex.gz
*.sector
*.sector.gz
*.sectors.tgz

# Python
__pycache__/
*.pyc

#Test-Data
captures/
FlashBangStudio/Cargo.lock
*.code-workspace
